---
apiVersion: v1
kind: Secret
metadata:
  name: barcodebuddy-secrets
  namespace: grocy
type: Opaque
stringData:
  values.yml: |
    ingress:
      main:
        hosts:
          - host: {{ pass_barcodebuddy_host }}
            paths:
              - path: /
                pathPrefix: Prefix
        annotations:
          external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
        tls:
          - hosts:
              - {{ pass_barcodebuddy_host }}
            secretName: barcodebuddy-tls
