---
apiVersion: v1
kind: Secret
metadata:
  name: secrets
  namespace: home-assistant
type: Opaque
stringData:
  secrets.yaml: |
    ha_latitude: ${HA_LATITUDE}
    ha_longitude: ${HA_LONGITUDE}

    plex_host: ${PLEX_HOST}

    spotify_client_id: ${SPOTIFY_CLIENT_ID}
    spotify_client_secret: ${SPOTIFY_CLIENT_SECRET}

    luci_username: ${LUCI_USERNAME}
    luci_password: ${LUCI_PASSWORD}

    eufy_home_username: ${EUFY_HOME_USERNAME}
    eufy_home_password: ${EUFY_HOME_PASSWORD}

    caldav_username: ${MAILBOX_USERNAME}
    caldav_password: "${MAILBOX_PASSWORD}"

    living_room_cam_cmd: ${LIVING_ROOM_CAM_CMD}

    spotcast_dc: ${SPOTIFY_DC}
    spotcast_key: ${SPOTIFY_KEY}
