---
apiVersion: v1
kind: Secret
metadata:
  name: argo-secrets
  namespace: argo
type: Opaque
stringData:
  values: |
    server:
      ingress:
        hosts:
          - ${ARGO_HOST}
        annotations:
          external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
        tls:
          - hosts:
              - ${ARGO_HOST}
            secretName: argo-tls
