---
apiVersion: v1
kind: Secret
metadata:
  name: radarr-secrets
  namespace: media
type: Opaque
stringData:
  values.yml: |
    ingress:
      hosts:
        - host: ${RADARR_HOST}
          paths:
            - path: /
              pathPrefix: Prefix
      annotations:
        external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
      tls:
        - hosts:
            - ${RADARR_HOST}
          secretName: radarr-tls
    exportarr:
      apikey: ${RADARR_EXPORTARR_API}
