---
apiVersion: v1
kind: Secret
metadata:
  name: soju-cfg
  namespace: soju
type: Opaque
stringData:
  soju.cfg: |
    listen 0.0.0.0:6697
    tls /config/tls/tls.crt /config/tls/tls.key
    hostname {{ pass_soju_host }}
    sql sqlite3 /config/soju.db
  SOJU_IRC_PASSWORD: {{ pass_soju_password }}
  SOJU_IRC_SYNIRC_NICKSERV: {{ pass_soju_synirc_nickserv }}
  SOJU_IRC_LIBERA_NICKSERV: {{ pass_soju_libera_nickserv }}
  service-values: |
    alias: {{ pass_soju_host }}
    cname: {{ pass_cname_host }}
  cert-values: |
    dnsName: {{ pass_soju_host }}
