---
apiVersion: v1
kind: Secret
metadata:
  name: soju-secrets
  namespace: soju
type: Opaque
stringData:
  SOJU_INIT: |
    user shane {{ pass_soju_password}} admin

    server shane synirc irc+insecure://euclid.ie.eu.synirc.net:6667 shane
    server shane libera ircs://irc.libera.chat:6697 sharktamer

    channels shane synirc #owls
    channels shane libera #ansible #archlinux #go-nuts #jenkins #kubernetes #pass #prometheus #python #qutebrowser #soju #ubuntu #weechat #wireguard
  SOJU_HOST: {{ pass_soju_host }}
  SOJU_IRC_SYNIRC_NICKSERV: {{ pass_soju_synirc_nickserv }}
  SOJU_IRC_LIBERA_NICKSERV: {{ pass_soju_libera_nickserv }}
  service-values: |
    alias: {{ pass_soju_host }}
    cname: {{ pass_cname_host }}
  cert-values: |
    dnsName: {{ pass_soju_host }}
