---
apiVersion: v1
kind: Secret
metadata:
  name: pyload-secrets
  namespace: media
type: Opaque
stringData:
  values.yml: |
    ingress:
      hosts:
        - host: ${PYLOAD_HOST}
          paths:
            - path: /
              pathPrefix: Prefix
      annotations:
        external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
      tls:
        - hosts:
            - ${PYLOAD_HOST}
          secretName: pyload-tls
  GOTIFY_TOKEN: ${GOTIFY_PYLOAD_TOKEN}
