---
apiVersion: v1
kind: Secret
metadata:
  name: wireguard-secrets
  namespace: wireguard
type: Opaque
stringData:
  values: |
    wireguard:
      config:
        privateKey: {{ pass_wireguard_key }}
    web:
      config:
        adminUsername: {{ pass_wireguard_username }}
        adminPassword: {{ pass_wireguard_password }}
    ingress:
      hosts:
        - {{ pass_wireguard_host }}
      annotations:
        external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
      tls:
        - hosts:
            - {{ pass_wireguard_host }}
          secretName: wireguard-tls
