---
apiVersion: v1
kind: Secret
metadata:
  name: rm-cronjob-secrets
  namespace: media
type: Opaque
stringData:
  RMS_USER: {{ pass_transmission_username }}
  RMS_PASSWORD: {{ pass_transmission_password }}
