---
apiVersion: v1
kind: Secret
metadata:
  name: jackett-secrets
  namespace: media
type: Opaque
stringData:
  values.yml: |
    ingress:
      hosts:
        - ${JACKETT_HOST}
      annotations:
        external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
      tls:
        - hosts:
            - ${JACKETT_HOST}
          secretName: jackett-tls
