---
apiVersion: v1
kind: Secret
metadata:
  name: jackett-secrets
  namespace: media
type: Opaque
stringData:
  values.yml: |
    ingress:
      hosts:
        - host: {{ pass_hosts_jackett_host }}
          paths:
            - path: /
              pathPrefix: Prefix
      annotations:
        external-dns.alpha.kubernetes.io/target: {{ pass_hosts_cname_host }}
      tls:
        - hosts:
            - {{ pass_hosts_jackett_host }}
          secretName: jackett-tls
