---
apiVersion: v1
kind: Secret
metadata:
  name: jackett-secrets
  namespace: media
type: Opaque
stringData:
  values.yml: |
    ingress:
      main:
        hosts:
          - host: {{ pass_jackett_host }}
            paths:
              - path: /
                pathPrefix: Prefix
        annotations:
          external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
        tls:
          - hosts:
              - {{ pass_jackett_host }}
            secretName: jackett-tls
