---
apiVersion: v1
kind: Secret
metadata:
  name: gowon-env
  namespace: gowon
type: Opaque
stringData:
    IRC_USER: ${GOWON_IRC_USER}
    IRC_NICK: ${GOWON_IRC_NICK}
    IRC_PASSWORD: ${GOWON_IRC_PASSWORD}
    IRC_SERVER: ${GOWON_IRC_SERVER}
    IRC_TLS_SERVER_NAME: ${GOWON_IRC_TLS_SERVER_NAME}
    IRC_CHANNELS: ${GOWON_IRC_CHANNELS}
    DEBUG: ${GOWON_DEBUG}
    IRC_LASTFM_API: ${GOWON_IRC_LASTFM_API}
    IRC_REPLIES: ${GOWON_IRC_REPLIES}
    IRC_TENOR_API: ${GOWON_IRC_TENOR_API}
    IRC_TRAKT_API: ${GOWON_IRC_TRAKT_API}
    IRC_TWITTER_ACCESS_SECRET: ${GOWON_IRC_TWITTER_ACCESS_SECRET}
    IRC_TWITTER_ACCESS_TOKEN: ${GOWON_IRC_TWITTER_ACCESS_TOKEN}
    IRC_TWITTER_CONSUMER_KEY: ${GOWON_IRC_TWITTER_CONSUMER_KEY}
    IRC_TWITTER_CONSUMER_SECRET: ${GOWON_IRC_TWITTER_CONSUMER_SECRET}
    IRC_WORDNIK_API: ${GOWON_IRC_WORDNIK_API}
