---
apiVersion: v1
kind: Secret
metadata:
  name: gowon-env
  namespace: gowon
type: Opaque
stringData:
    IRC_USER: {{ pass_gowon_user }}
    IRC_NICK: {{ pass_gowon_nick }}
    IRC_PASSWORD: {{ pass_gowon_password }}
    IRC_SERVER: {{ pass_gowon_server }}
    IRC_TLS_SERVER_NAME: {{ pass_gowon_tls_server_name }}
    IRC_CHANNELS: {{ pass_gowon_channels }}
    DEBUG: 'true'
    IRC_LASTFM_API: {{ pass_gowon_lastfm_api_key }}
    IRC_REPLIES: {{ pass_gowon_replies }}
    IRC_TENOR_API: {{ pass_gowon_tenor_api_key }}
    IRC_TRAKT_API: {{ pass_gowon_trakt_api_key }}
    IRC_TWITTER_ACCESS_SECRET: {{ pass_gowon_twitter_access_secret }}
    IRC_TWITTER_ACCESS_TOKEN: {{ pass_gowon_twitter_access_token }}
    IRC_TWITTER_CONSUMER_KEY: {{ pass_gowon_twitter_consumer_key }}
    IRC_TWITTER_CONSUMER_SECRET: {{ pass_gowon_twitter_consumer_secret }}
    IRC_WORDNIK_API: {{ pass_gowon_wordnik_api_key }}
