---
apiVersion: v1
kind: Secret
metadata:
  name: gitea-secrets
  namespace: drone
type: Opaque
stringData:
  values: |
    gitea:
      admin:
        password: yahozna1
        email: shane@donohoe.cc
      config:
        server:
          ROOT_URL: "https://{{ pass_gitea_host }}"
      security:
        SECRET_KEY: {{ pass_gitea_secret_key }}
    ingress:
      hosts:
        - {{ pass_gitea_host }}
      annotations:
        external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
      tls:
        - hosts:
            - {{ pass_gitea_host }}
          secretName: gitea-tls
