---
apiVersion: v1
kind: Secret
metadata:
  name: gitea-secrets
  namespace: drone
type: Opaque
stringData:
  values: |
    gitea:
      admin:
        password: yahozna1
        email: shane@donohoe.cc
      config:
        server:
          ROOT_URL: "https://${GITEA_HOST}"
    ingress:
      hosts:
        - ${GITEA_HOST}
      annotations:
        external-dns.alpha.kubernetes.io/target: ${GITEA_HOST}
      tls:
        - hosts:
            - ${GITEA_HOST}
          secretName: gitea-tls
