---
apiVersion: v1
kind: Secret
metadata:
  name: soju-cfg
  namespace: soju
type: Opaque
stringData:
  soju.cfg: |
    listen 0.0.0.0:6697
    tls /config/tls/tls.crt /config/tls/tls.key
    hostname ${IRC_HOST}
    sql sqlite3 /config/soju.db
  SOJU_IRC_PASSWORD: ${SOJU_IRC_PASSWORD}
  SOJU_IRC_SYNIRC_NICKSERV: ${SOJU_IRC_SYNIRC_NICKSERV}
  SOJU_IRC_FREENODE_NICKSERV: ${SOJU_IRC_FREENODE_NICKSERV}
  service-values: |
    alias: ${IRC_HOST}
    cname: ${CNAME_HOST}
  cert-values: |
    dnsName: ${IRC_HOST}
