---
apiVersion: v1
kind: Secret
metadata:
  name: forked-daapd-cfg
  namespace: media
type: Opaque
stringData:
  ingress-values: |
    ingress:
      host: {{ pass_daapd_host }}
      annotations:
        external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
      tlsHosts:
        - {{ pass_daapd_host }}
