---
apiVersion: v1
kind: Secret
metadata:
  name: forked-daapd-cfg
  namespace: media
type: Opaque
stringData:
  ingress-values: |
    ingress:
      host: ${FORKED_DAAPD_HOST}
      annotations:
        external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
      tlsHosts:
        - ${FORKED_DAAPD_HOST}
