---
apiVersion: v1
kind: Secret
metadata:
  name: eufy-ha-mqtt-bridge-config
  namespace: home-assistant
type: Opaque
stringData:
  config.yml: |
    eufy:
      username: ${EUFY_SECURITY_USERNAME}
      password: ${EUFY_SECURITY_PASSWORD}
    mqtt:
      url: mqtt://mosquitto:1883
