---
apiVersion: v1
kind: Secret
metadata:
  name: restic-secrets
  namespace: restic
type: Opaque
stringData:
  values: |
    ingress:
      main:
        hosts:
          - host: restic.{{ pass_cname_host }}
            paths:
              - path: /
                pathPrefix: Prefix
        annotations:
          external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
        tls:
          - hosts:
              - restic.{{ pass_cname_host }}
            secretName: restic-tls
