---
apiVersion: v1
kind: Secret
metadata:
  name: xteve-secrets
  namespace: media
type: Opaque
stringData:
  values.yml: |
    ingress:
      main:
        hosts:
          - hosts: {{ pass_xteve_host }}
            paths:
              - path: /web
                pathPrefix: Prefix
        annotations:
          external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
        tls:
          - hosts:
              - {{ pass_xteve_host }}
            secretName: xteve-tls
  VPN_AUTH: {{ pass_openvpn_creds }}
  vpnConfigfile: |-
    {{ pass_openvpn_config | indent(4) }}
