---
apiVersion: v1
kind: Secret
metadata:
  name: soju-secrets
  namespace: bitlbee
type: Opaque
stringData:
  SOJU_INIT: |
    user shane {{ pass_soju_password}} admin

    server shane bitlbee irc+insecure://bitlbee:6667 shane
  SOJU_HOST: {{ pass_soju_host }}
  service-values: |
    alias: {{ pass_soju_host }}
    cname: {{ pass_cname_host }}
  cert-values: |
    dnsName: {{ pass_soju_host }}
