---
apiVersion: v1
kind: Secret
metadata:
  name: nzbget-secrets
  namespace: media
type: Opaque
stringData:
  values.yml: |
    ingress:
      hosts:
        - ${NZBGET_HOST}
      annotations:
        external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
      tls:
        - hosts:
            - ${NZBGET_HOST}
          secretName: nzbget-tls
  NZBGET_USERNAME: ${NZBGET_USERNAME}
  NZBGET_PASSWORD: ${NZBGET_PASSWORD}
