---
apiVersion: v1
kind: Secret
metadata:
  name: nzbget-secrets
  namespace: media
type: Opaque
stringData:
  values.yml: |
    ingress:
      hosts:
        - host: {{ pass_nzbget_host }}
          paths:
            - path: /
              pathPrefix: Prefix
      annotations:
        external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
      tls:
        - hosts:
            - {{ pass_nzbget_host }}
          secretName: nzbget-tls

  NZBGET_USERNAME: {{ pass_nzbget_username }}
  NZBGET_PASSWORD: {{ pass_nzbget_password }}
