---
apiVersion: v1
kind: Secret
metadata:
  name: zigbee2mqtt-values
  namespace: home-assistant
type: Opaque
stringData:
  values: |
    ingress:
      hosts:
        - host: ${ZIGBEE2MQTT_HOST}
          paths:
            - path: /
              pathType: Prefix
      # annotations:
      #   external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
      tls:
        - hosts:
            - ${ZIGBEE2MQTT_HOST}
          secretName: zigbee2mqtt-tls
