---
apiVersion: v1
kind: Secret
metadata:
  name: zigbee2mqtt-values
  namespace: home-assistant
type: Opaque
stringData:
  values: |
    ingress:
      hosts:
        - host: {{ pass_zigbee2mqtt_host }}
          paths:
            - path: /
              pathType: Prefix
      # annotations:
      #   external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
      tls:
        - hosts:
            - {{ pass_zigbee2mqtt_host }}
          secretName: zigbee2mqtt-tls
