---
apiVersion: v1
kind: Secret
metadata:
  name: argo-secrets
  namespace: argo
type: Opaque
stringData:
  values: |
    server:
      ingress:
        hosts:
          - {{ pass_argo_host }}
        annotations:
          external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
        tls:
          - hosts:
              - {{ pass_argo_host }}
            secretName: argo-tls
