---
apiVersion: v1
kind: Secret
metadata:
  name: youtubedl-material-secrets
  namespace: media
type: Opaque
stringData:
  values.yml: |
    ingress:
      hosts:
        - host: {{ pass_ytdl_host }}
          paths:
            - path: /
              pathPrefix: Prefix
      annotations:
        external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
      tls:
        - hosts:
            - {{ pass_ytdl_host }}
          secretName: youtubedl-material-tls
