---
apiVersion: v1
kind: Secret
metadata:
  name: transmission-secrets
  namespace: media
type: Opaque
stringData:
  values.yml: |
    ingress:
      hosts:
        - hosts: ${TRANSMISSION_HOST}
          paths:
            - path: /transmission
              pathPrefix: Prefix
      annotations:
        external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
      tls:
        - hosts:
            - ${TRANSMISSION_HOST}
          secretName: transmission-tls
    transmissionConfig:
      rpc-username: ${TRANSMISSION_USER}
      rpc-password: ${TRANSMISSION_PASS}

  TRANSMISSION_USERNAME: ${TRANSMISSION_USER}
  TRANSMISSION_PASSWORD: ${TRANSMISSION_PASS}
  GOTIFY_TOKEN: ${GOTIFY_TRANSMISSION_TOKEN}
