---
apiVersion: v1
kind: Secret
metadata:
  name: transmission-secrets
  namespace: media
type: Opaque
stringData:
  values.yml: |
    ingress:
      main:
        hosts:
          - hosts: {{ pass_transmission_host }}
            paths:
              - path: /transmission
                pathPrefix: Prefix
        annotations:
          external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
        tls:
          - hosts:
              - {{ pass_transmission_host }}
            secretName: transmission-tls
    transmissionConfig:
      rpc-username: {{ pass_transmission_username }}
      rpc-password: {{ pass_transmission_password }}

  TRANSMISSION_USERNAME: {{ pass_transmission_username }}
  TRANSMISSION_PASSWORD: {{ pass_transmission_password }}
  GOTIFY_TOKEN: {{ pass_transmission_gotify_token }}

  VPN_AUTH: {{ pass_openvpn_creds }}
  vpnConfigfile: |-
    {{ pass_openvpn_config | indent(4) }}
