---
apiVersion: v1
kind: Secret
metadata:
  name: transmission-secrets
  namespace: media
type: Opaque
stringData:
  values.yml: |
    ingress:
      path: /transmission
      hosts:
        - ${TRANSMISSION_HOST}
      annotations:
        external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
      tls:
        - hosts:
            - ${TRANSMISSION_HOST}
          secretName: transmission-tls
    env:
      - name: TZ
        value: "Europe/London"
      - name: PUID
        value: "1000"
      - name: PGID
        value: "1000"
      - name: USER
        value: ${TRANSMISSION_USER}
      - name: PASS
        value: ${TRANSMISSION_PASS}
