---
apiVersion: v1
kind: Secret
metadata:
  name: restic-nfs-secrets
  namespace: restic
type: Opaque
stringData:
  values: |
    ingress:
      main:
        hosts:
          - host: restic-nfs.{{ pass_cname_host }}
            paths:
              - path: /
                pathPrefix: Prefix
        annotations:
          external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
        tls:
          - hosts:
              - restic-nfs.{{ pass_cname_host }}
            secretName: restic-nfs-tls
