---
apiVersion: v1
kind: Secret
metadata:
  name: eufy-security-ws-env
  namespace: home-assistant
type: Opaque
stringData:
  USERNAME: {{ pass_hass_eufy_security_username }}
  PASSWORD: {{ pass_hass_eufy_security_password }}
