---
apiVersion: v1
kind: Secret
metadata:
  name: drone-secrets
  namespace: drone
type: Opaque
stringData:
  values: |
    env:
      DRONE_SERVER_HOST: {{ pass_drone_host }}
      DRONE_RPC_SECRET: {{ pass_drone_rpc_secret }}
      DRONE_GITEA_SERVER: https://{{ pass_gitea_host }}
      DRONE_GITEA_CLIENT_ID: {{ pass_drone_gitea_client_id }}
      DRONE_GITEA_CLIENT_SECRET: {{ pass_drone_gitea_client_secret }}
    ingress:
      hosts:
        - host: {{ pass_drone_host }}
          paths:
            - /
      annotations:
        external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
      tls:
        - hosts:
            - {{ pass_drone_host }}
          secretName: drone-tls
