---
apiVersion: v1
kind: Secret
metadata:
  name: calibre-web-secrets
  namespace: media
type: Opaque
stringData:
  values.yml: |
    ingress:
      hosts:
        - host: ${CALIBRE_HOST}
          paths:
            - path: /
              pathPrefix: Prefix
      annotations:
        external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
      tls:
        - hosts:
            - ${CALIBRE_HOST}
          secretName: calibre-web-tls
