---
apiVersion: v1
kind: Secret
metadata:
  name: sonarr-secrets
  namespace: media
type: Opaque
stringData:
  values.yml: |
    ingress:
      hosts:
        - host: {{ pass_sonarr_host }}
          paths:
            - path: /
              pathPrefix: Prefix
      annotations:
        external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
      tls:
        - hosts:
            - {{ pass_sonarr_host }}
          secretName: sonarr-tls

    exportarr:
      apikey: {{ pass_sonarr_exportarr_api_key }}
