---
apiVersion: v1
kind: Secret
metadata:
  name: sonarr-secrets
  namespace: media
type: Opaque
stringData:
  values.yml: |
    ingress:
      hosts:
        - ${SONARR_HOST}
      annotations:
        external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
      tls:
        - hosts:
            - ${SONARR_HOST}
          secretName: sonarr-tls

    exportarr:
      apikey: ${SONARR_EXPORTARR_API}
