---
apiVersion: v1
kind: Secret
metadata:
  name: esphome-secrets
  namespace: home-assistant
type: Opaque
stringData:
  values: |
    env:
      PASSWORD: {{ pass_esphome_password }}
    ingress:
      hosts:
        - host: {{ pass_esphome_host }}
          paths:
            - path: /
              pathType: Prefix
      # annotations:
      #   external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
      tls:
        - hosts:
            - {{ pass_esphome_host }}
          secretName: esphome-tls
