---
apiVersion: v1
kind: Secret
metadata:
  name: esphome-secrets
  namespace: home-assistant
type: Opaque
stringData:
  values: |
    env:
      PASSWORD: ${ESPHOME_PASSWORD}
    ingress:
      hosts:
        - host: ${ESPHOME_HOST}
          paths:
            - path: /
              pathType: Prefix
      # annotations:
      #   external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
      tls:
        - hosts:
            - ${ESPHOME_HOST}
          secretName: esphome-tls
