---
apiVersion: v1
kind: Secret
metadata:
  name: retroachievements-env
  namespace: gowon
type: Opaque
stringData:
    GOWON_RA_USERNAME: {{ pass_gowon_ra_username }}
    GOWON_RA_API_KEY: {{ pass_gowon_ra_api_key }}
