---
apiVersion: v1
kind: Secret
metadata:
  name: eufy-ha-mqtt-bridge-config
  namespace: home-assistant
type: Opaque
stringData:
  config.yml: |
    eufy:
      username: {{ pass_eufy_ha_mqtt_bridge_username }}
      password: {{ pass_eufy_ha_mqtt_bridge_password }}
    mqtt:
      url: mqtt://mosquitto.home-assistant.svc.cluster.local:1883
      username: ""
      password: ""
