---
apiVersion: v1
kind: Secret
metadata:
  name: hass-lovelace-kindle-screensaver
  namespace: home-assistant
type: Opaque
stringData:
  HA_ACCESS_TOKEN: {{ pass_hass_hass_lovelace_kindle_screensaver_token }}
  HA_BATTERY_WEBHOOK: {{ pass_hass_hass_lovelace_kindle_screensaver_webhook1 }}
