---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflared
  namespace: cloudflared
type: Opaque
stringData:
  credentials: '{{ pass_cloudflared_credentials | to_json }}'
  config: |
    {{ pass_cloudflared_config | indent(4) }}
