---
apiVersion: v1
kind: Secret
metadata:
  name: gotify-secrets
  namespace: gotify
type: Opaque
stringData:
  values: |
    secret:
      user: shane
      pass: ${GOTIFY_PASSWORD}
    ingress:
      hosts:
        - host: ${GOTIFY_HOST}
          paths:
            - path: /
              pathType: Prefix
      annotations:
        external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
      tls:
        - hosts:
            - ${GOTIFY_HOST}
          secretName: gotify-tls
