---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - ./secret.sops.yaml
  - ./helmrelease.yaml
  - ./gatus.yaml
configMapGenerator:
  - name: snapserver-conf
    files:
      - ./resources/snapserver.conf
  - name: mpd-conf
    files:
      - ./resources/mpd.conf
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
