---
apiVersion: v1
kind: Secret
metadata:
  name: headless-vnc-secrets
  namespace: vnc
type: Opaque
stringData:
  values: |
    ingress:
      main:
        hosts:
          - host: vnc.{{ pass_cname_host }}
            paths:
              - path: /
                pathType: Prefix
        annotations:
          external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
        tls:
          - hosts:
              - vnc.{{ pass_cname_host }}
            secretName: headless-vnc-tls
    env:
      VNC_PW: {{ pass_vnc_password }}
