---
apiVersion: v1
kind: Secret
metadata:
  name: morelike-env
  namespace: gowon
type: Opaque
stringData:
  GOWON_MORELIKE_SUB_WORDS: {{ pass_gowon_morelike_sub_words }}
  GOWON_MORELIKE_IGNORED_WORDS: {{ pass_gowon_morelike_ignored_words }}
