---
apiVersion: v1
kind: Secret
metadata:
  name: longhorn-secrets
  namespace: longhorn
type: Opaque
stringData:
  values.yml: |
    ingress:
      enabled: true
      host: {{ pass_longhorn_host }}
      annotations:
        external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
      tls: true

  AWS_ACCESS_KEY_ID: {{ pass_longhorn_minio_access_key_id }}
  AWS_SECRET_ACCESS_KEY: {{ pass_longhorn_minio_secret_access_key }}
  AWS_ENDPOINTS: http://192.168.2.8:9000
