---
apiVersion: v1
kind: Secret
metadata:
  name: plex-secrets
  namespace: media
type: Opaque
stringData:
  values.yml: |
    ingress:
      hosts:
        - ${PLEX_HOST}
      annotations:
        external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
      tls:
        - hosts:
            - ${PLEX_HOST}
          secretName: plex-tls

    claimToken: ${PLEX_CLAIM}
