---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./cloudflared/ks.yaml
  - ./echo-server/ks.yaml
  - ./external-dns/ks.yaml
  - ./ingress-nginx/ks.yaml
  - ./theme-park/ks.yaml
  - ./k8s-gateway/ks.yaml
  # - ./wg-access-server/ks.yaml
  - ./tailscale-operator/ks.yaml
  - ./external-ingress/ks.yaml
  - ./gluetun-proxy/ks.yaml
