---
apiVersion: v1
kind: Secret
metadata:
  name: gowon-env
  namespace: gowon
type: Opaque
stringData:
    GOWON_USER: {{ pass_gowon_user }}
    GOWON_NICK: {{ pass_gowon_nick }}
    GOWON_PASSWORD: {{ pass_gowon_password }}
    GOWON_SERVER: {{ pass_gowon_server }}
    GOWON_CHANNELS: {{ pass_gowon_channels }}
