---
apiVersion: v1
kind: Secret
metadata:
  name: twitter-env
  namespace: gowon
type: Opaque
stringData:
    GOWON_TWITTER_ACCESS_SECRET: {{ pass_gowon_twitter_access_secret }}
    GOWON_TWITTER_ACCESS_TOKEN: {{ pass_gowon_twitter_access_token }}
    GOWON_TWITTER_CONSUMER_KEY: {{ pass_gowon_twitter_consumer_key }}
    GOWON_TWITTER_CONSUMER_SECRET: {{ pass_gowon_twitter_consumer_secret }}
