---
apiVersion: v1
kind: Secret
metadata:
  name: hass-secrets
  namespace: home-assistant
type: Opaque
stringData:
  values: |
    ingress:
      hosts:
        - host: {{ pass_hass_host }}
          paths:
            - path: /
              pathType: Prefix
      # annotations:
      #   external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
      tls:
        - hosts:
            - {{ pass_hass_host }}
          secretName: hass-tls
    mariadb:
      auth:
        username: {{ pass_hass_mariadb_username }}
        password: {{ pass_hass_mariadb_password }}
        rootPassword: {{ pass_hass_mariadb_root_password }}

  secrets.yaml: |
    ha_latitude: {{ pass_hass_latitude }}
    ha_longitude: {{ pass_hass_longitude }}

    plex_host: {{ pass_plex_host }}

    spotify_client_id: {{ pass_hass_spotify_client_id }}
    spotify_client_secret: {{ pass_hass_spotify_client_secret }}

    luci_username: {{ pass_hass_luci_username }}
    luci_password: {{ pass_hass_luci_password }}

    eufy_home_username: {{ pass_hass_eufy_home_username }}
    eufy_home_password: {{ pass_hass_eufy_home_password }}

    caldav_username: {{ pass_hass_mailbox_username }}
    caldav_password: '{{ pass_hass_mailbox_password }}'

    living_room_cam_cmd: '{{ pass_hass_living_room_cam_cmd }}'

    spotcast_dc: {{ pass_hass_spotify_dc }}
    spotcast_key: {{ pass_hass_spotify_key }}

    telegram_bot_api: {{ pass_hass_telegram_bot_api_key }}
    telegram_user_id: {{ pass_hass_telegram_user_id }}

    mariadb_connect_string: mysql://{{ pass_hass_mariadb_username }}:{{ pass_hass_mariadb_password }}@192.168.2.5/home-assistant?charset=utf8mb4

    17track_username: {{ pass_hass_17track_username }}
    17track_password: {{ pass_hass_17track_password }}

    gotify_key: {{ pass_hass_gotify_token }}

    pyload_username: {{ pass_pyload_username }}
    pyload_password: {{ pass_pyload_password }}

    bhyve_username: "{{ pass_hass_bhyve_username }}"
    bhyve_password: "{{ pass_hass_bhyve_password }}"

    openplantbook_client_id: "{{ pass_hass_openplantbook_client_id }}"
    openplantbook_secret: "{{ pass_hass_openplantbook_secret }}"
