---
apiVersion: v1
kind: Secret
metadata:
  name: hass-secrets
  namespace: home-assistant
type: Opaque
stringData:
  values: |
    ingress:
      hosts:
        - host: ${HASS_HOST}
          paths:
            - path: /
              pathType: Prefix
      # annotations:
      #   external-dns.alpha.kubernetes.io/target: ${CNAME_HOST}
      tls:
        - hosts:
            - ${HASS_HOST}
          secretName: hass-tls
    mariadb:
      auth:
        username: ${HASS_MARIADB_USER}
        password: ${HASS_MARIADB_PASSWORD}
        rootPassword: ${HASS_MARIADB_ROOT_PASSWORD}

  secrets.yaml: |
    ha_latitude: ${HA_LATITUDE}
    ha_longitude: ${HA_LONGITUDE}

    plex_host: ${PLEX_HOST}

    spotify_client_id: ${SPOTIFY_CLIENT_ID}
    spotify_client_secret: ${SPOTIFY_CLIENT_SECRET}

    luci_username: ${LUCI_USERNAME}
    luci_password: ${LUCI_PASSWORD}

    eufy_home_username: ${EUFY_HOME_USERNAME}
    eufy_home_password: ${EUFY_HOME_PASSWORD}

    caldav_username: ${MAILBOX_USERNAME}
    caldav_password: "${MAILBOX_PASSWORD}"

    living_room_cam_cmd: ${LIVING_ROOM_CAM_CMD}

    spotcast_dc: ${SPOTIFY_DC}
    spotcast_key: ${SPOTIFY_KEY}

    telegram_bot_api: ${TELEGRAM_BOT_API}
    telegram_user_id: ${TELEGRAM_USER_ID}

    mariadb_connect_string: mysql://${HASS_MARIADB_USER}:${HASS_MARIADB_PASSWORD}@192.168.2.5/home-assistant?charset=utf8mb4

    17track_username: ${_17TRACK_USERNAME}
    17track_password: ${_17TRACK_PASSWORD}
