---
apiVersion: v1
kind: Secret
metadata:
  name: hass-ssh-key
  namespace: home-assistant
type: Opaque
stringData:
    id_rsa: |
      {{ pass_hass_ssh_private_key | indent(6) }}
    id_rsa.pub: |
      {{ pass_hass_ssh_public_key | indent(6) }}
