---
apiVersion: v1
kind: Secret
metadata:
  name: komga-secrets
  namespace: media
type: Opaque
stringData:
  values: |
    ingress:
      main:
        hosts:
          - host: {{ pass_komga_host }}
            paths:
              - path: /
                pathType: Prefix
        annotations:
          external-dns.alpha.kubernetes.io/target: {{ pass_cname_host }}
        tls:
          - hosts:
              - {{ pass_komga_host }}
            secretName: komga-tls
